{% extends 'crowdfunding/main.html' %}

{% block content%}
<style>
    * {
        box-sizing: border-box;
      }
      
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      
      #hero {
        margin: 10px;
      }

      #hero > img{
        max-width: 100%;
        height: auto;
      }

      #hero-title{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
      }

      #container {
        display: flex;
        flex-direction: row;
        align-items: space-evenly;
        flex-wrap: wrap;
      }
      /* Style the counter cards */
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        color: #ffffff;
        background-color: #023750;
        margin: 10px;
        width: 23%;
        height: 260px;
        box-sizing: border-box;
      }
      
      /* Responsive columns - one column layout (vertical) on small screens */
      @media screen and (max-width: 600px) {
        .card {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      }

</style>
<body> 
<!-- Hero --> 
<div id="hero">
  <div id = "hero-title">
  </div>
</div>

<!-- Cards -->

<div id="container">

  
</div>

  


</div>
</body>

<script>

const hero = {
  id: "hero-title",
  title:"Wen Hsin pay me $2000",
  description:"cb kia suck a dick",
  image:"https://www.newstatesman.com/sites/default/files/styles/cropped_article_image/public/blogs_2020/04/gettyimages-1152948850.jpg?itok=fLlVqYFm&c=7befd3d9b1d3721e2544ba5f0333e021"
  }

window.onload =  populateHero = ()=> {
  console.log("letsgo")
  var insert =  document.getElementById('hero') 
  insert.innerHTML="<img src=" + hero.image + "> <h2 id="+"'" + hero.id + "'>"+hero.title+ "</h2>"

}





let cards = [
        {
        title: "Hello Fund my Strip Club",
        description: "My strip club for 10 women all with smelly pussies"
        },
        {
        title: "Hello Fund my Vegan Club",
        description: "My vegan club for 10 women all with smelly brocolli"
        },
        {
        title: "Hello Fund my Fatty Bom Bom Club",
        description: "10 women eat all my smelly brocolli"
        },
        {
        title: "Hello Fund my engineering Club",
        description: "10 engineers eat all my women"
        },
        {
        title: "Hello Fund my engineering Club",
        description: "10 engineers eat all my women"
        }
             ]
let cardLength = cards.length;

const container = document.getElementById('container');

cards.forEach((data) => {
  // Create card element
  const card = document.createElement('div');

  // Construct card content
  const content = `
    <div class="card" margin=20px>
        <h2>${data.title}</h2>
        <p>${data.description}</p>
      </div>
    </div>
  </div>
  `;
  // Append newyly created card element to the container
  container.innerHTML += content;

})


</script>

{% endblock %}


